.twitter-feed-widget {
  .timeline-twitter-feed {
    padding: 0;
  }
  .ttf-tweet {
    background-color: white;
    border: none !important;
    border-radius: 0px !important;
    clear: none !important;
    color: black !important;
    float: none !important;
    margin-bottom: 25px !important;
    padding: 10px;
    width: 100% !important;
    -ms-filter: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    filter: none !important;
    position: relative;
    &:after {
      content: " ";
      position: absolute;
      display: block;
      height: 25px;
      width: 4px;
      background: white;
      bottom: -25px;
      left: 49%;
    }
    &:last-child:after {
      display: none;
    }
  }
  .ttf-tweet-row {

  }
  .ttf-tweet-user-name {

  }
  .ttf-tweet-screen-name {

  }
  .ttf-tweet-full-name {

  }
  #twitter-widget-0 {
    display: none;
  }
}

